doctype html
head
  title Activation!
//
  <div  style="font-family:Ubuntu, Helvetica, Arial, sans-serif;padding:10px;text-align:center;background: #f51313;color: white;font-size: 10px;">
  <h1>Telkom Partner Network</h1>
  </div>
div(style='background-color:#EDF4F7;')
  div(style='background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;')
    table(role='presentation' style='background:#ffffff;background-color:#EDF4F7;width:100%;margin-right: auto;margin-left: auto;padding: 15px 2px;')
      tr
        td(style='font-size:0px;padding:1px;word-break:break-word;')
          div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:12px;color:#bdbdbd;text-align: right;')
    table(role='presentation' style='background:#ffffff;background-color:#ffffff;width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;')
            div(style='Margin:0px auto;max-width:600px;')
              table(role='presentation' style='width:100%;')
                tbody
                  tr
                    td(style='direction:ltr;font-size:0px;padding:10px 0;')
                      .mj-column-per-100.outlook-group-fix(style='font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                        table(cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                          tr
                            td(style='font-size:0px;padding:2px;word-break:break-word;')
                              div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;color:#221f1f;')
                                img(src='https://image.psikolif.com/wp-content/uploads/2019/04/Logo-Telkom-Indonesia-Warna-Lengkap-728x395.jpg' alt='' width='25%' style='margin: 0px 40px;')
                              hr(style='height:2px;border-width:0;color:rgb(232, 244, 248);background-color:rgb(232, 244, 248);margin-top: 20px;')
                          table(role='presentation' style='background:#ffffff;background-color:#ffffff;width:85%;margin-right: auto;margin-left: auto;')
                            tr
                              td(style='font-size:0px;padding:2px;word-break:break-word;margin-top: 50px;')
                                div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:16px;line-height:2;color:#221f1f;')
                                  h2 Email Activation 
                                div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:15px;color:#000000;') Hello Mr./Mrs./Miss #{fullname}
                            tr
                              td(style='font-size:0px;word-break:break-word;')
                                div(style='height:20px;') &nbsp;
                            tr
                              td(style='font-size:0px;padding:2px;word-break:break-word;')
                                div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:15px;color:#000000;text-align: justify;')
                                  | Thank you for registration with us. To activate your account and verify your email address, please click the button bellow :
                            tr
                              td(style='font-size:0px;word-break:break-word;')
                                div(style='height:16px;') &nbsp;
                            tr
                              td(align='center' vertical-align='middle')
                                table(border='0' cellpadding='0' cellspacing='0' role='presentation')
                                  tr
                                    td(align='center' bgcolor='' role='presentation')
                                      a(href=link style='background-color: #F55151;background:F55151;color:#ffffff;font-family:Lato, Helvetica, Arial, sans-serif;font-size:13px;font-weight:normal;Margin:0;text-decoration:none;text-transform:none;padding:10px 185px;display:flex;flex-direction: column;border-radius:3px;box-shadow: 1px 1px 3px 1px #888888;' target='_blank')
                                        b ACTIVATION MY ACCOUNT
                            tr
                              td(style='font-size:0px;word-break:break-word;')
                                div(style='height:16px;') &nbsp;
                            tr
                              td(style='font-size:0px;padding:2px;word-break:break-word;')
                                div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:15px;color:#000000;text-align: justify;') Button not working for you ? Copy the url below into your browser
                                div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:15px;color:#F55151;margin-top: 5px;')
                                  a(href=link style='color:#F55151;') (#{link})
                            tr
                              td(style='font-size:0px;word-break:break-word;')
                                div(style='height:16px;') &nbsp;
                            tr
                              td(style='font-size:0px;padding:0px;word-break:break-word;')
                                div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:15px;color:#2f2f2f;')
                                  h4 Regard,
                                div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:15px;color:#2f2f2f;')
                                  h4 Telkom Partnert Network
                          hr(style='height:2px;border-width:0;color:rgb(232, 244, 248);background-color:rgb(232, 244, 248);')
                          table(role='presentation' style='background:#ffffff;background-color:#ffffff;width:85%;margin-right: auto;margin-left: auto;')
                            tr
                              td(style='font-size:0px;padding:1px;word-break:break-word;')
                                div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:12px;color:#bdbdbd;text-align: right;')
                                  h4 &copy;Telkom Partner Network. All right reserved
    table(role='presentation' style='background:#ffffff;background-color:#EDF4F7;width:100%;margin-right: auto;margin-left: auto;padding: 15px 2px;')
      tr
        td(style='font-size:0px;padding:1px;word-break:break-word;')
          div(style='font-family:Lato, Helvetica, Arial, sans-serif;font-size:12px;color:#bdbdbd;text-align: right;')
